
.products{
    display: flex;
    gap: 10px;
}
.product-card{
    width: 250px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
}
.product-image{
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-prices{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-price{
    color: red;
    font-size: 22px;
}
.product-main-price{
    color: gray;
    font-size: 16px;
}
.product-name{
    font-size: 18px;
    color: gray;
    margin-top: 4px;
    margin-bottom: 0px;
}
.product-sold{
    color: #3f8c9e;
    margin-top: 8px;
    font-size: 14px;
}

.product-details{
    padding: 10px;
}

.product2-card{
    width: 250px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
}
.product2-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product2-details{
    padding: 10px;
}
.product2-price{
    color: red;
    font-size: 22px;
}
.product2-main-price{
    color: gray;
}

.prodcut2-prices{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product2-name{
    font-size: 18px;
    color: gray;
    margin-top: 4px;
    margin-bottom: 0px;
}
.product2-sold{
    color: #3f8c9e;
    margin-top: 8px;
    font-size: 14px;
}

.product3-card{
    width: 250px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
}
.product3-image{
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product3-details{
    padding: 10px;
}
.product3-price{
    color: red;
    font-size: 22px;
}

.product3-main-price{
    color: gray;
}
.product3-prices{
    display: flex;
    gap: 10px;
    align-items: center;
}

.product3-name{
    color: gray;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 0px;
}
.product3-sold{
    color: #3f8c9e;
    font-size: 14px;
    margin-top: 8px;
}

.brand{
    width: 200px;
    height: 100px;
    background-color: #e8f0f3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.brand-image{
    width: 150px;
    height: auto;
}
